.titulo-centro {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}
.custom-navbar {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  margin: 10px;
}

.nav-link.btn {
  border-radius: 20px;
  padding: 5px 15px;
  transition: 0.3s;
}
.nav-link.btn:hover {
  background-color: white;
  color: black;
}

.btn {
  border-radius: 20px;
  padding: 5px 15px;
}

img.imagen-personalizada{
   
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    margin: 15px;
    border: 2px solid yellow;
}

img.mi-imagen{
     width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    margin: 15px;
    border: 2px solid grey;
}

img.personalizada{
 width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    margin: 15px;
    border: 2px solid blue;
}

body{

    margin-top: 80px;
    background-image: url(https://media.gettyimages.com/id/555954477/es/foto/view-of-the-uruguayan-countryside-in-minas.jpg?s=612x612&w=0&k=20&c=5ilnqhNmuSIyjvnYnauv7dLeK0f3CJTdCUbLLGE5HlI=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
  }

#footer {
      text-align: center;
      padding: 20px;
      color: #fdfbfb;
      margin: 10px;
    }
    p{
      color: rgb(255, 255, 255);
    }

